arabic-reshaper==3.0.0
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
ffmpeg-python==0.2.0
fonttools==4.57.0
future==1.0.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
kiwisolver==1.4.8
matplotlib==3.10.1
moviepy==2.1.2
numpy==2.2.4
packaging==24.2
pillow==10.4.0
proglog==0.1.11
pyparsing==3.2.3
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
shiboken6==6.9.0
six==1.17.0
tomlkit==0.13.2
tqdm==4.67.1
